bw6.x/tibco_bw_https/HttpsTest/Service Descriptors/Process.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.example.org/schema/1422048218040" xmlns:tns="http://www.example.org/wsdl/1422048217977" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Process" targetNamespace="http://www.example.org/wsdl/1422048217977">
  <wsdl:import namespace="http://www.example.org/schema/1422048218040"/>
  <wsdl:message name="operationRequest">
    <wsdl:part element="extns:operationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="extns:operationResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1Request">
    <wsdl:part element="extns:operation1Request" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1Response">
    <wsdl:part element="extns:operation1Response" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="Process">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest" name="operationInput"/>
      <wsdl:output message="tns:operationResponse" name="operationOutput"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
