bw5.x/TIBCO_BW_SECURITY/Schemas/globalweather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.webserviceX.NET" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.webserviceX.NET">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
            <s:element name="GetWeather">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="CityName" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="CountryName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetWeatherResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="GetWeatherResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCitiesByCountry">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="CountryName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCitiesByCountryResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="GetCitiesByCountryResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="string" nillable="true" type="s:string"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetWeatherSoapIn">
        <wsdl:part element="tns:GetWeather" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetWeatherSoapOut">
        <wsdl:part element="tns:GetWeatherResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountrySoapIn">
        <wsdl:part element="tns:GetCitiesByCountry" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountrySoapOut">
        <wsdl:part element="tns:GetCitiesByCountryResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetWeatherHttpGetIn">
        <wsdl:part name="CityName" type="s:string"/>
        <wsdl:part name="CountryName" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetWeatherHttpGetOut">
        <wsdl:part element="tns:string" name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountryHttpGetIn">
        <wsdl:part name="CountryName" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountryHttpGetOut">
        <wsdl:part element="tns:string" name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetWeatherHttpPostIn">
        <wsdl:part name="CityName" type="s:string"/>
        <wsdl:part name="CountryName" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetWeatherHttpPostOut">
        <wsdl:part element="tns:string" name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountryHttpPostIn">
        <wsdl:part name="CountryName" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountryHttpPostOut">
        <wsdl:part element="tns:string" name="Body"/>
    </wsdl:message>
    <wsdl:portType name="GlobalWeatherSoap">
        <wsdl:operation name="GetWeather">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get weather report for all major cities around the world.</wsdl:documentation>
            <wsdl:input message="tns:GetWeatherSoapIn"/>
            <wsdl:output message="tns:GetWeatherSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all major cities by country name(full / part).</wsdl:documentation>
            <wsdl:input message="tns:GetCitiesByCountrySoapIn"/>
            <wsdl:output message="tns:GetCitiesByCountrySoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GlobalWeatherHttpGet">
        <wsdl:operation name="GetWeather">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get weather report for all major cities around the world.</wsdl:documentation>
            <wsdl:input message="tns:GetWeatherHttpGetIn"/>
            <wsdl:output message="tns:GetWeatherHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all major cities by country name(full / part).</wsdl:documentation>
            <wsdl:input message="tns:GetCitiesByCountryHttpGetIn"/>
            <wsdl:output message="tns:GetCitiesByCountryHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GlobalWeatherHttpPost">
        <wsdl:operation name="GetWeather">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get weather report for all major cities around the world.</wsdl:documentation>
            <wsdl:input message="tns:GetWeatherHttpPostIn"/>
            <wsdl:output message="tns:GetWeatherHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all major cities by country name(full / part).</wsdl:documentation>
            <wsdl:input message="tns:GetCitiesByCountryHttpPostIn"/>
            <wsdl:output message="tns:GetCitiesByCountryHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GlobalWeatherSoap" type="tns:GlobalWeatherSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetWeather">
            <soap:operation soapAction="http://www.webserviceX.NET/GetWeather" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <soap:operation soapAction="http://www.webserviceX.NET/GetCitiesByCountry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GlobalWeatherSoap12" type="tns:GlobalWeatherSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetWeather">
            <soap12:operation soapAction="http://www.webserviceX.NET/GetWeather" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <soap12:operation soapAction="http://www.webserviceX.NET/GetCitiesByCountry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GlobalWeatherHttpGet" type="tns:GlobalWeatherHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="GetWeather">
            <http:operation location="/GetWeather"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <http:operation location="/GetCitiesByCountry"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GlobalWeatherHttpPost" type="tns:GlobalWeatherHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="GetWeather">
            <http:operation location="/GetWeather"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <http:operation location="/GetCitiesByCountry"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GlobalWeather">
        <wsdl:port binding="tns:GlobalWeatherSoap" name="GlobalWeatherSoap">
            <soap:address location="http://www.webservicex.com/globalweather.asmx"/>
        </wsdl:port>
        <wsdl:port binding="tns:GlobalWeatherSoap12" name="GlobalWeatherSoap12">
            <soap12:address location="http://www.webservicex.com/globalweather.asmx"/>
        </wsdl:port>
        <wsdl:port binding="tns:GlobalWeatherHttpGet" name="GlobalWeatherHttpGet">
            <http:address location="http://www.webservicex.com/globalweather.asmx"/>
        </wsdl:port>
        <wsdl:port binding="tns:GlobalWeatherHttpPost" name="GlobalWeatherHttpPost">
            <http:address location="http://www.webservicex.com/globalweather.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>